.spinner-grow {
    width: 0.7rem !important;
    height: 0.7rem !important;
    animation: spinner-grow 0.8s linear infinite !important;
}

.formGroupStyle{
    display:flex;
    width:100%;
    position: relative;
    left: 18%;
    top: 25px;
    animation-name: moveInToRight;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.filterInput{
    padding-bottom: 15px;
    width:12%;
}

.carListTable{
    background-color: white;
    width: 64%;
    position: relative;
    left: 50%;
    top:10px;
    transform: translateX(-50%);
}

@keyframes moveInToRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform:translateX(1);
    }
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    min-height: 50px;
    max-height: 800px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header th, .fixed_header td {
    width: 245px;
    text-align: center;
}

.fixed_header thead th:not(:first-child){
    padding-right: 45px;
}

#columnTitle{
    padding-top:5px;
    max-width: 17%;
    font-weight: bold;
}

#columnValue{
    padding-left: 25px;
    max-width: 85%;
}

.DayPickerInput input{
    width:100%;
}

.form-check-label{
    font-weight: 600;
}

.input-range{
    width:85%
}

input[type=checkbox] {
    transform: scale(1.3);
}
